{% extends "nav.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9 mt-4">
        <div class="shadow p-4 mb-5 bg-body rounded">
          <h1 class="text-center">Create Category</h1>
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form }}
            <div class="d-flex justify-content-center">
              <div class="d-flex justify-content-center">
                <button class="btn btn-success mx-2" type="submit">Create</button>
                <a href="{% url 'list-categories' %}" class="btn btn-success">No, go back</a>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content %}