{% extends "nav.html" %}
{% block title %}User Edit Password{% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-9 mt-4">
        <div class="shadow p-4 mb-5 bg-body rounded">
          <h1 class="text-center">Change Password</h1>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
              <button class="btn btn-success mx-1" type="submit">Change Password</button>
              <a href="{% url 'edit_user' %}" class="btn btn-success">No, go back</a>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
