{% extends "nav.html" %}
{% block title %}User Info{% endblock title %}
{% block content %}

    <div class="container">
        <h3 class="text-center">User Info</h3>

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            {% if user.account.profile_image.url %}
                                <img src="{{ user.account.profile_image.url }}" class="img-fluid" width="150" height="150" alt="Profile Picture">
                            {% endif %}
                        </div>
                        <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                        <p><strong>Username:</strong> {{ user.username }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'edit_user' %}" class="btn btn-success">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
